body {
  text-align: center;
}
main {
  margin: 0 auto;
  background: rgb(215, 215, 215);
  height: 52rem;
  padding: 20px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.inputLabel {
  margin: 0px 60px 10px 60px;
}
.inputBox {
  border-color: rgb(200, 200, 200);
  margin: 0px 20px;
}
input:focus {
  border: 2px;
  border-color: rgb(200, 200, 200);
}
input[type="radio"] {
  margin: 20px 10px;
}
input:checked ~ span {
  font-weight: bold;
}
.taskButtons {
  margin-top: 20px;
}
#calculate {
  margin-right: 10px;
  background-color: green;
  color: white;
  border-radius: 4px;
}
#clear {
  margin-left: 10px;
  background: rgb(200, 200, 200);
  border-radius: 4px;
}
#result {
  font-size: 30px;
}
